.diaengalicia {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: 60px;
    margin-top:30px;
    margin-bottom: 60px;

    .direcciondecards {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .imgcard {
            width: 300px;
        }
        h3{
            color:black;
        }
        p{
            width: 60%;
        }
        .boton2{
            display: flex;
            justify-content: center;
            margin-left: -190px;
            width: auto;
        }
       
     
}

}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    margin-top: 25px;
  background-color: #C85000;
}