.cuerpo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F4F4F4;

    /*sobre clavesytoken.html*/
    .tituloeimagen {
        display: flex;
        flex-direction: column;
        position: relative;
        /* Posicionamiento relativo */
        margin-top: 60px;
        margin-bottom: 100px;

        h1 {
            position: absolute;
            /* Posicionamiento absoluto */
            text-align: center;
            /* Centra el texto horizontalmente */
            z-index: 1;
            /* Asegura que el texto esté sobre la imagen */
            margin-top: 100px;
            margin-left: 60px;
        }

        p {
            position: absolute;
            /* Posicionamiento absoluto */
            z-index: 1;
            /* Asegura que el texto esté sobre la imagen */
            margin-top: 230px;
            margin-left: 60px;


        }

        img {
            width: 1000px;
            height: 400px;
            z-index: 0;
            /* Asegura que la imagen esté detrás del texto */
            border-radius: 20px;

        }
    }

    .tarjetas{
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr); // 3 columnas de tamaño igual
        gap: 30px; // Espacio entre las tarjetas
        justify-items: center; 
        .card{
            display: flex;
            align-items: center;
            justify-content: center;
            .imgtarjeta{
                width: 280px;
                height: 250px;
            }
            .h2{
                color:black;
            }
            .boton2{
                width: 50%;
                margin-top:25px;
                margin-bottom:20px;
                margin-left: -200px;

            }
        }
    }









}






